---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from "../components/Services.astro"
import Team from '../components/Team.astro';
import Transparency from '../components/Transparency.astro';
import Protocol from '../components/Protocol.astro';
---

<Layout title="Positivus">
	<main class="space-y-20">
		<Hero/>
		<Services/>
		<Protocol/>
		<Team/>
		<Transparency/>
	</main>
</Layout>