---
import Container from "./Container.astro"

---
<Container>
<div class="flex-row items-center my-6 p-14 bg-zinc-100 rounded-[45px]">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="justify-start items-center gap-[275px] flex">
            <div class="flex-col justify-start items-start gap-[26px] inline-flex text-black">
                <div class="text-3xl font-medium">Let’s carve a new path together</div>
                <div class="text-lg font-normal">FanSociety is kinda weird, and is doing things kinda different from the status quo. Find out what motivates us to wake up and bang our head against the keyboard...day after day...after day...after...day...</div>
                <a rel="noopener noreferrer"  href="https://rocky-moon-589.notion.site/FanSociety-Fan-Funding-the-Future-ebdcde35fbad483c9870c89360390084?pvs=4" target="_blank" class="px-[35px] py-5 bg-zinc-900 rounded-[14px] justify-start items-start gap-2.5 inline-flex">
                    <div class="text-center text-white text-xl font-normal leading-7">Read the 'Transparency' Paper</div>
                </a>
            </div>
        </div>
        <div class="hidden md:grid justify-items-center -m-20">
            <img src="/services/Illustration.svg" width="50%" alt="cat"/>
        </div>
    </div>
</div>

</Container>